    <div class="exception-body error">
        <div class="exception-panel">
            <div class="exception-code">
                <img src="../../../assets/layout/images/exception/500.svg">
            </div>

            <div class="exception-detail">

                <div class="exception-icon">
                    <i class="material-icons">close</i>
                </div>
                <h1>ERROR OCCURED</h1>
                <p>Please contact the system administrator</p>
                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-only">
                    <span class="ui-button-text">GO TO DASHBOARD</span>
                </button>
            </div>
        </div>
    </div>