<p-panel [header]="'Manage Member'">
    <form [formGroup]="manageFormgroup">
        <div class="ui-fluid">
            <p-steps [model]="wizardSteps" styleClass="steps-custom" [readonly]="false" [(activeIndex)]="activeIndex"></p-steps>
            <p-card [title]="'Personal Information'" *ngIf="activeIndex === 0">
                <div class="ui-g form-group">
                    <div class="ui-g-12 ui-md-4">
                        <span class="md-inputfield">
                            <input pInputText [required]="true" type="text" formControlName="firstName" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                            <label>First Name</label>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!manageFormgroup.controls['firstName'].valid&&manageFormgroup.controls['firstName'].dirty">
                                <i class="fa fa-close"></i>
                                First name is required.
                            </div>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <span class="md-inputfield">
                            <input pInputText [required]="true" type="text" formControlName="surname" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                            <label>Surname</label>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!manageFormgroup.controls['surname'].valid&&manageFormgroup.controls['surname'].dirty">
                                <i class="fa fa-close"></i>
                                Surname is required.
                            </div>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-dropdown [style]="{'width':'100%'}" [options]="title" placeholder="Select Title" formControlName="titleId"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <span class="md-inputfield">
                            <p-calendar formControlName="dob" dateFormat="yy/mm/dd" defaultDate="" yearRange="1900:2017" [yearNavigator]="true" [showTime]="false"></p-calendar>
                            <label>Date of Birth</label>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-dropdown [style]="{'width':'100%'}" [options]="identificationType" placeholder="Select Identication Type" formControlName="identificationTypeId"></p-dropdown>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!manageFormgroup.controls['identificationTypeId'].valid&&manageFormgroup.controls['identificationTypeId'].dirty">
                            <i class="fa fa-close"></i>
                            Identification Type is required.
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-dropdown [options]="gender" [style]="{'width':'100%'}" placeholder="Select Gender" formControlName="genderId"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <span class="md-inputfield">
                            <input pInputText [required]="true" type="number" formControlName="age" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                            <label>Age</label>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-dropdown [options]="employmentStatus" [style]="{'width':'100%'}" placeholder="Select Employment Status" formControlName="employmentStatusId"></p-dropdown>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!manageFormgroup.controls['employmentStatusId'].valid&&manageFormgroup.controls['employmentStatusId'].dirty">
                            <i class="fa fa-close"></i>
                            Employment Status is required.
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <span class="md-inputfield">
                            <input pInputText [required]="true" type="text" formControlName="occupation" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                            <label>Occupation</label>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!manageFormgroup.controls['occupation'].valid&&manageFormgroup.controls['occupation'].dirty">
                                <i class="fa fa-close"></i>
                                Occupation is required.
                            </div>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <span class="md-inputfield">
                            <input pInputText [required]="true" type="text" formControlName="emailAddress" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                            <label>Email Address</label>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!manageFormgroup.controls['emailAddress'].valid&&manageFormgroup.controls['emailAddress'].dirty">
                                <i class="fa fa-close"></i>
                                Email is invalid.
                            </div>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <span class="md-inputfield">
                            <input pInputText [required]="true" type="text" formControlName="telephoneNumber" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                            <label>Telephone Number</label>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <span class="md-inputfield">
                            <input pInputText [required]="true" type="text" formControlName="workNumber" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                            <label>Work Number</label>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <span class="md-inputfield">
                            <input pInputText [required]="true" type="text" formControlName="mobileNumber" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                            <label>Mobile Number</label>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!manageFormgroup.controls['mobileNumber'].valid&&manageFormgroup.controls['mobileNumber'].dirty">
                                <i class="fa fa-close"></i>
                                Mobile Number is required.
                            </div>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <span>
                            <p-inputSwitch formControlName="hasMedicalAid" (onChange)="onMedicalAidChange($event)"></p-inputSwitch>
                            <label>Do you have medical aid?</label>
                        </span>
                    </div>
                </div>
            </p-card>
            <p-card [title]="'Emergency Information'" *ngIf="activeIndex === 1">
                <div class="ui-g form-group">
                    <div class="ui-g-12 ui-md-4">
                        <span class="md-inputfield">
                            <input pInputText [required]="true" type="text" formControlName="emergencyContactName" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                            <label>Emergency Contact Name</label>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!manageFormgroup.controls['emergencyContactName'].valid&&manageFormgroup.controls['emergencyContactName'].dirty">
                                <i class="fa fa-close"></i>
                                Emergency Contact Name is required.
                            </div>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <span class="md-inputfield">
                            <input pInputText [required]="true" type="text" formControlName="emergencyContactNumber" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                            <label>Emergency Contact Number</label>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!manageFormgroup.controls['emergencyContactNumber'].valid&&manageFormgroup.controls['emergencyContactNumber'].dirty">
                                <i class="fa fa-close"></i>
                                Emergency Contact Number is required.
                            </div>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <span class="md-inputfield">
                            <input pInputText [required]="true" type="text" formControlName="emergencyContactRelationship" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                            <label>Emergency Contact Relationship</label>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!manageFormgroup.controls['emergencyContactRelationship'].valid&&manageFormgroup.controls['emergencyContactRelationship'].dirty">
                                <i class="fa fa-close"></i>
                                Emergency Contact Relationship is required.
                            </div>
                        </span>
                    </div>
                </div>
            </p-card>
            <p-card [title]="'Medical Aid'" *ngIf="manageFormgroup.controls['hasMedicalAid'].value && activeIndex === 2">
                <div class="ui-g form-group">
                    <div class="ui-g-12 ui-md-4">
                        <p-dropdown [style]="{'width':'100%'}" [options]="dataSource" placeholder="Select Main Member Title" formControlName="medicalaidsectorId"></p-dropdown>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!manageFormgroup.controls['medicalaidsectorId'].valid&&manageFormgroup.controls['medicalaidsectorId'].dirty">
                            <i class="fa fa-close"></i>
                            Medicalaid is required..
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <span class="md-inputfield">
                            <input pInputText [required]="true" type="text" formControlName="medicalaidPlan" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                            <label>Medical Aid Plan</label>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!manageFormgroup.controls['medicalaidPlan'].valid&&manageFormgroup.controls['medicalaidPlan'].dirty">
                                <i class="fa fa-close"></i>
                                is required..
                            </div>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <span class="md-inputfield">
                            <input pInputText [required]="true" type="text" formControlName="medicalAidNumber" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                            <label>Medical Aid Number</label>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!manageFormgroup.controls['medicalAidNumber'].valid&&manageFormgroup.controls['medicalAidNumber'].dirty">
                                <i class="fa fa-close"></i>
                                is required..
                            </div>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <span class="md-inputfield">
                            <input pInputText [required]="true" type="text" formControlName="medicalAidCode" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                            <label>Medical Aid Code</label>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!manageFormgroup.controls['medicalAidCode'].valid&&manageFormgroup.controls['medicalAidCode'].dirty">
                                <i class="fa fa-close"></i>
                                is required..
                            </div>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <span class="md-inputfield">
                            <input pInputText [required]="true" type="text" formControlName="postalAddress" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                            <label>Postal Address</label>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!manageFormgroup.controls['postalAddress'].valid&&manageFormgroup.controls['postalAddress'].dirty">
                                <i class="fa fa-close"></i>
                                is required..
                            </div>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-dropdown [style]="{'width':'100%'}" [options]="title" placeholder="Select Main Member Title" formControlName="mainMemberTitleId"></p-dropdown>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!manageFormgroup.controls['mainMemberTitleId'].valid&&manageFormgroup.controls['mainMemberTitleId'].dirty">
                            <i class="fa fa-close"></i>
                            is required..
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <span class="md-inputfield">
                            <input pInputText [required]="true" type="text" formControlName="mainMemberSurname" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                            <label>Main Member Surname</label>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!manageFormgroup.controls['mainMemberSurname'].valid&&manageFormgroup.controls['mainMemberSurname'].dirty">
                                <i class="fa fa-close"></i>
                                is required..
                            </div>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <span class="md-inputfield">
                            <input pInputText [required]="true" type="text" formControlName="mainMemberFirstName" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                            <label>Main Member First Name</label>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!manageFormgroup.controls['mainMemberFirstName'].valid&&manageFormgroup.controls['mainMemberFirstName'].dirty">
                                <i class="fa fa-close"></i>
                                is required..
                            </div>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <span class="md-inputfield">
                            <input pInputText [required]="true" type="text" formControlName="mainMemberMobileNumber" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                            <label>Main Member Mobile Number</label>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!manageFormgroup.controls['mainMemberMobileNumber'].valid&&manageFormgroup.controls['mainMemberMobileNumber'].dirty">
                                <i class="fa fa-close"></i>
                                is required..
                            </div>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <span class="md-inputfield">
                            <input pInputText [required]="true" type="text" formControlName="mainMemberEmailAddress" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                            <label>Main Member Email Address</label>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!manageFormgroup.controls['mainMemberEmailAddress'].valid&&manageFormgroup.controls['mainMemberEmailAddress'].dirty">
                                <i class="fa fa-close"></i>
                                is required..
                            </div>
                        </span>
                    </div>
                </div>
            </p-card>
            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-2" *ngIf="activeIndex > 0 && activeIndex <= lastStep">
                    <button pButton label="Previous" (click)="previous($event)"></button>
                </div>
                <div class="ui-g-12 ui-md-2" *ngIf="activeIndex >= lastStep">
                    <button pButton label="Submit" [disabled]="!manageFormgroup.valid" (click)="register($event)"></button>
                </div>
                <div class="ui-g-12 ui-md-2" *ngIf="activeIndex != lastStep">
                    <button pButton label="Next" (click)="next($event)"></button>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <button pButton label="Back" (click)="goBack($event)"></button>
                </div>
            </div>
        </div>
    </form>
</p-panel>