<div style="display: none;">
    <div id="print-section">
        <div style="text-align:center;">
            <label style="font-weight:bold;">Scan to link patient</label>
        </div>
        <ngx-qrcode [qrc-value]="qrCode" [style]="{width:'200px'}" qrc-errorCorrectionLevel="L">
        </ngx-qrcode>
    </div>
</div>
<div style="display: none;">
  <div id="siteQrCode">
    <ngx-qrcode [qrc-value]="qrCode" [style]="{width:'50px'}" qrc-errorCorrectionLevel="L">
      </ngx-qrcode>
  </div>
</div>
<button pButton label="Print QR Code" (click)="print($event)"></button>