<p-panel [header]="'Bank Details'">
  <p-dataTable [value]="dataSource" [tableStyle]="{'table-layout':'auto'}">
    <p-column *ngFor="let i of cols" [field]="i.field" [header]="i.header"></p-column>
    <p-column>
      <ng-template let-file="rowData" let-i="rowIndex" pTemplate="body">
        <button type="button" pButton (click)="deleteLinkedBank($event, file)" label="Delete"></button>
      </ng-template>
    </p-column>
  </p-dataTable>
</p-panel>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>