<p-panel [header]="'Bank Details'">
  <form [formGroup]="manageFormgroup">
    <div class="ui-fluid">
      <p-card [title]="'Personal Information'">
        <div class="ui-g form-group">
          <div class="ui-g-12 ui-md-4">
            <span class="md-inputfield">
              <input pInputText [required]="true" type="text" formControlName="name">
              <label>Name</label>
              <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!manageFormgroup.controls['name'].valid&&manageFormgroup.controls['name'].dirty">
                <i class="fa fa-close"></i>
                Name is required.
              </div>
            </span>
          </div>
          <div class="ui-g-12 ui-md-4">
            <span class="md-inputfield">
              <input pInputText [required]="true" type="text" formControlName="surname">
              <label>Surname</label>
              <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!manageFormgroup.controls['surname'].valid&&manageFormgroup.controls['surname'].dirty">
                <i class="fa fa-close"></i>
                Surname is required.
              </div>
            </span>
          </div>
          <div class="ui-g-12 ui-md-4">
            <span class="md-inputfield">
              <input pInputText [required]="true" type="text" formControlName="practiceNumber">
              <label>Practice No</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-4">
            <!---->
            <p-dropdown [style]="{'width':'100%'}" [filter]="true" [options]="banks" (onChange)="setBankCode($event)" placeholder="Select Bank" formControlName="branchName"></p-dropdown>
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!manageFormgroup.controls['branchName'].valid&&manageFormgroup.controls['branchName'].dirty">
                <i class="fa fa-close"></i>
                is required..
            </div>
          </div>
          <div class="ui-g-12 ui-md-4">
            <span class="md-inputfield">
              <input pInputText [required]="true" type="number" formControlName="branchCode">
              <label>Branch Code</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-4">
            <p-dropdown [options]="accountTypes" [style]="{'width':'100%'}" formControlName="accountTypeId" placeholder="Select Account Type"></p-dropdown>
          </div>
          <div class="ui-g-12 ui-md-4">
            <span class="md-inputfield">
              <input pInputText [required]="true" type="number" formControlName="accountNumber">
              <label>Account Number</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-12">
            <span class="md-inputfield">
              <textarea pInputTextarea [rows]="5" style="width:100%" type="notes" formControlName="notes" placeholder="Notes"></textarea>
            </span>
          </div>
        </div>
      </p-card>
      <div class="ui-g form-group">
        <div class="ui-g-12 ui-md-2">
          <button pButton label="Submit" (click)="saveDetails($event)" [disabled]="!manageFormgroup.valid"></button>
        </div>
        <div class="ui-g-12 ui-md-2" *ngIf="isView">
          <button pButton label="Share" (click)="shareDetails($event)"></button>
        </div>
        <div class="ui-g-12 ui-md-2" *ngIf="isView">
          <button pButton label="Delete" (click)="deleteDetails($event)"></button>
        </div>
        <div class="ui-g-12 ui-md-2">
          <button pButton label="Back" (click)="backToBankDetails($event)"></button>
        </div>
      </div>
    </div>
  </form>
</p-panel>
<p-dialog [(visible)]="showShare">
  <app-patient-share [bankDetailsId]="bankDetailsId"></app-patient-share>
</p-dialog>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>