<p-panel [header]="'New Invoices'">
  <p-dataTable [value]="data" dataKey="vin">
    <p-column *ngFor="let i of cols" [field]="i.field" [header]="i.header"></p-column>
    <p-column [header]="'Select File Type'">
      <ng-template let-invoice="rowData" let-i="rowIndex" pTemplate="body">
        <button type="button" [disabled]="invoice.invoiceType === 'Invoice'" pButton (click)="onFileTypeSelect($event, invoice, 'Invoice')" label="Invoice"></button>
        <button type="button" [disabled]="invoice.invoiceType === 'Statement'" pButton (click)="onFileTypeSelect($event, invoice, 'Statement')" label="Statement"></button>
      </ng-template>
    </p-column>
    <p-column>
      <ng-template let-invoice="rowData" let-i="rowIndex" pTemplate="body">
        <button type="button" pButton (click)="DownloadInvoice($event, invoice)" label="Download"></button>
      </ng-template>
    </p-column>
  </p-dataTable>
</p-panel>
<p-dialog [(visible)]="showVerifyInvoice">
  <app-verify-invoice (verifyInvoice)="onInvoiceVerify($event)" (cancel)="onVerifyCancel($event)" [invoiceId]="invoiceId"></app-verify-invoice>
</p-dialog>