<button pButton label="Print" (click)="print()">
</button>
<div *ngIf="fullData.sharePatient" id="print-section">
  <p-card title="Personal Information" *ngIf="fullData.sharePersonal">
    <div class="ui-fluid">
      <div class="ui-g form-group">
        <div class="ui-g-12 ui-md-12">
          <h3>Patient Unique Number</h3>
          <div class="uid">{{patientData.uid}}</div>
        </div>
        <div class="ui-g-12 ui-md-3">
          <h3>Name</h3>
          <div>{{patientData.title}} {{patientData.firstName}}</div>
        </div>
        <div class="ui-g-12 ui-md-3">
          <h3>Surname</h3>
          <div>{{patientData.surname}}</div>
        </div>
        <div class="ui-g-12 ui-md-3">
          <h3>Email Address</h3>
          <div>{{patientData.emailAddress}}</div>
        </div>
        <div class="ui-g-12 ui-md-3">
          <h3>Has Medical Aid</h3>
          <div>{{patientData.hasMedicalAid ? 'Yes' : 'No'}}</div>
        </div>
        <div class="ui-g-12 ui-md-3">
          <h3>Date of Birth</h3>
          <div>{{patientData.dob}}</div>
        </div>
        <div class="ui-g-12 ui-md-3">
          <h3>Age</h3>
          <div>{{patientData.age}}</div>
        </div>
        <div class="ui-g-12 ui-md-3">
          <h3>Gender</h3>
          <div>{{patientData.gender}}</div>
        </div>
        <div class="ui-g-12 ui-md-3">
          <h3>Occupation</h3>
          <div>{{patientData.occupation}}</div>
        </div>
        <div class="ui-g-12 ui-md-3">
          <h3>Home Number</h3>
          <div>{{patientData.telephoneNumber}}</div>
        </div>
        <div class="ui-g-12 ui-md-3">
          <h3>Mobile Number</h3>
          <div>{{patientData.mobileNumber}}</div>
        </div>
        <div class="ui-g-12 ui-md-3">
          <h3>Work Number</h3>
          <div>{{patientData.workNumber}}</div>
        </div>
      </div>
    </div>
  </p-card>
  <p-card title="Emergency Information" *ngIf="fullData.shareEmergencyDetails">
    <div class="ui-fluid">
      <div class="ui-g form-group">
        <div class="ui-g-12 ui-md-3">
          <h3>Contact Name</h3>
          <div>{{patientData.emergencyContactName}}</div>
        </div>
        <div class="ui-g-12 ui-md-3">
          <h3>Contact Number</h3>
          <div>{{patientData.emergencyContactNumber}}</div>
        </div>
        <div class="ui-g-12 ui-md-3">
          <h3>Relationship</h3>
          <div>{{patientData.emergencyContactRelationship}}</div>
        </div>
      </div>
    </div>
  </p-card>
  <p-card title="Medical Aid" *ngIf="patientData.hasMedicalAid && fullData.shareMedicalAid">
    <div class="ui-fluid">
      <div class="ui-g form-group">
        <div class="ui-g-12 ui-md-3">
          <h3>Medical Aid</h3>
          <div>{{patientData.medicalaidsector}}</div>
        </div>
        <div class="ui-g-12 ui-md-3">
          <h3>Plan</h3>
          <div>{{patientData.medicalaidPlan}}</div>
        </div>
        <div class="ui-g-12 ui-md-3">
          <h3>Medical Aid Number</h3>
          <div>{{patientData.medicalAidNumber}}</div>
        </div>
        <div class="ui-g-12 ui-md-3">
          <h3>Medical Aid Code</h3>
          <div>{{patientData.medicalAidCode}}</div>
        </div>
        <div class="ui-g-12 ui-md-3">
          <h3>Main Member Name</h3>
          <div>{{patientData.mainMemberTitle}} {{patientData.mainMemberFirstName}}</div>
        </div>
        <div class="ui-g-12 ui-md-3">
          <h3>Main Member Surname</h3>
          <div>{{patientData.mainMemberSurname}}</div>
        </div>
        <div class="ui-g-12 ui-md-3">
          <h3>Main Member Contact Number</h3>
          <div>{{patientData.mainMemberMobileNumber}}</div>
        </div>
        <div class="ui-g-12 ui-md-3">
          <h3>Main Member Email Address</h3>
          <div>{{patientData.mainMemberEmailAddress}}</div>
        </div>
      </div>
    </div>
  </p-card>
</div>
<div class="ui-fluid">
  <div class="ui-g ui-md-2">
    <button pButton label="Back" (click)="back()"></button>
  </div>
</div>