
    <p-messages [(value)]="msgs"></p-messages>
<div class="ui-g dashboard">
    <div class="ui-g-12 ui-md-12" *ngIf="isdoctor">
<app-barcode></app-barcode>
    </div>
    <div class="ui-g-12 ui-md-3">
        <div class="overview-box overview-box-1">
            <div class="overview-box-header"></div>
            <div class="overview-box-content">
                <div class="overview-box-icon"><i class="material-icons">inbox</i></div>
                <div class="overview-box-title">Messages</div>
                <div class="overview-box-count">152</div>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-3">
        <div class="overview-box overview-box-2">
            <div class="overview-box-header"></div>
            <div class="overview-box-content">
                <div class="overview-box-icon"><i class="material-icons">person_pin_circle</i></div>
                <div class="overview-box-title">Patients</div>
                <div class="overview-box-count">532</div>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-3">
        <div class="overview-box overview-box-3">
            <div class="overview-box-header"></div>
            <div class="overview-box-content">
                <div class="overview-box-icon"><i class="material-icons">insert_drive_file</i></div>
                <div class="overview-box-title">Open Invoices</div>
                <div class="overview-box-count">28</div>
            </div>
        </div>
    </div>

    <!-- <div class="ui-g-12 schedule">
        <p-panel header="Calendar" [style]="{'height':'100%'}">
            <p-schedule [events]="events" defaultDate="2016-01-12"[header]="header"></p-schedule>
        </p-panel>
    </div> -->
</div>