<div class="ui-md-12" *ngIf="!isDoctor">
  <p-dropdown placeholder="Select Doctor" [(ngModel)]="doctorId" [filter]="true" filterBy="label" [options]="doctors" (onChange)="setPatientDoctorSchedule($event)"></p-dropdown>
</div><br>
<div *ngIf="doctorSelected || isDoctor">
    <p-schedule [events]="events || []" [defaultView]='defaultView' [header]="header" [weekends]="showWeekends" (onEventDrop)="autoUpdate($event)"
    [editable]="doctorSelected" [title]="'Doctor Bookings'" [businessHours]="businessHours" (onEventClick)="updateEvent($event)" (onEventResize)="autoUpdate($event)" (onEventDrop)="autoUpdate($event)"
    [allDaySlot]="false" [defaultDate]="defaultDate" [eventStartEditable]="doctorSelected" [eventDurationEditable]="canResize" (onDayClick)="createEvent($event)"></p-schedule>  
</div>
<div class="ui-md-12" *ngIf="!doctorSelected && !isDoctor" style="color:red;font-size: 70%;">
  * Please select a doctor before you can continue 
</div>
  <p-dialog [(visible)]="showEvent" [width]="350" [height]="520">
    <div style="width: 300px; height:400px;">
        <div class="form-group">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-12">
              <div class="md-inputfield">
                <p-calendar [style]="{'width':'300px'}" showButtonBar="true" [(ngModel)]="dateFrom" [minDate]="minTime" [maxDate]="maxTime" [disabledDays]="disabledDays"  readonlyInput="true" placeholder="Booking Date" showTime="true" hourFormat="24"></p-calendar>
              </div><br/>
              <div>
                <p-dropdown [style]="{'width':'300px'}" [(ngModel)]="patientId" [options]="patientsData" [filter]="true" filterBy="label" placeholder="Select Patient" (onChange)="selectPatient($event)"></p-dropdown>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12"></div>
            <div class="ui-g-12 ui-md-12">
              <div class="md-inputfield">
                <input pInputText style="width:300px;" [(ngModel)]="title" />
                <label>Subject</label>
              </div><br/><br/>
              <div class="md-inputfield">
                <textarea placeholder="Description" [(ngModel)]="description" pInputTextArea rows="10" style="width:300px;"></textarea>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div>
      <button pButton label="Save" (click)="submit($event)"></button>
      <button pButton label="Delete" (click)="delete()" *ngIf="mode === 'update'"></button>
    </div>
  </p-dialog>
  <p-dialog [(visible)]="showInfoEvent" [width]="350" [height]="320">
    <p-header>
      Booking Information
    </p-header>
    <div>
        <div class="form-group">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-12">
              <div class="md-inputfield">
                <input pInputText style="width:300px;" type="datetime" readonly [(ngModel)]="dateFromString">
              </div><br/>
              <div>
                <p-dropdown [disabled]="true" [style]="{'width':'300px'}" [(ngModel)]="patientId" [options]="patientsData" [filter]="true" filterBy="label" placeholder="Select Patient" (onChange)="selectPatient($event)"></p-dropdown>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12"></div>
            <div class="ui-g-12 ui-md-12">
              <div class="md-inputfield">
                <input readonly pInputText style="width:300px;" [(ngModel)]="title" />
                <label>Subject</label>
              </div><br/><br/>
              <div class="md-inputfield">
                <input readonly pInputText style="width:300px;" [(ngModel)]="description" />
                <label>Description</label>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-12"></div>
    <div class="ui-g-12 ui-md-12">
      <button pButton label="Close" (click)="close($event)"></button>
    </div>
  </p-dialog>
  <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>