<div class="container">
  <p-panel [header]="'My Linked'">
    <div>
      <app-barcode></app-barcode>
    </div>
    <br/>
    <div class="form-group">
      <div>
        <input type="text" pInputText (input)="filter($event)" placeholder="Filter Patients">
      </div>
    </div>
    <p-dataTable [value]="myPatients" dataKey="vin">
      <p-column *ngFor="let i of cols" [field]="i.field" [header]="i.header"></p-column>
      <p-column>
        <ng-template let-patient="rowData" let-i="rowIndex" pTemplate="body">
          <i (click)="openPatient($event, patient)" style="cursor:pointer">VIEW</i>
          <i class="material-icons" (click)="deletePatient($event, patient)" style="cursor:pointer">delete</i>
        </ng-template>
      </p-column>
    </p-dataTable>
  </p-panel>
</div>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>