<div class="ui-g form-group" [formGroup]="emailFg">
  <div class="ui-g-12 ui-md-12">
    <div class="ui-g-6 ui-md-12">
      <div class="md-inputfield">
        <p-autoComplete [required]="true" [(ngModel)]="uid" [suggestions]="results" (completeMethod)="search($event)" formControlName="uid"></p-autoComplete>
        <label for="uid">Patient Unique ID</label>
      </div>
    </div>
    <div class="ui-g-6 ui-md-12">
      <div class="md-inputfield">
        <input name="subject" pInputText type="text" formControlName="subject" />
        <label for="subject">Subject</label>
      </div>
    </div>
    <div class="ui-g-12 ui-md-12">
        <textarea pInputTextArea rows="10" cols="80" formControlName="message" placeholder="Message"></textarea>
    </div>
    <div class="ui-g-12 ui-md-12">
    <button pButton [disabled]="!emailFg.valid" label="Send Invoice" (click)="sendEmail($event)"></button>
    <button pButton label="Cancel" (click)="cancelSend()"></button>
    </div>
  </div>
</div>