<div class="layout-sidebar" [ngClass]="{'layout-sidebar-active': app.sidebarActive, 'layout-sidebar-dark': app.darkMenu}" 
    (click)="app.onSidebarClick($event)" (mouseover)="app.sidebarActive=true" (mouseleave)="app.sidebarActive=false">
    <div class="sidebar-logo">
        <a routerLink="/dashboard">
            <img alt="logo" width="50" style="height:36px; padding-top:5px" src="../../../assets/images/Outdoor.gif" />
            <span style="font-size:.8em;" class="app-name">The Medical RainForest</span>
        </a>
        <a class="sidebar-anchor" style="cursor: pointer" title="Toggle Menu" (click)="app.onToggleMenuClick($event)"></a>
    </div>
            
    <div #layoutMenuScroller class="nano">
        <div class="nano-content sidebar-scroll-content">
            <div class="layout-menu-container" (click)="updateNanoScroll()">
                <div style="margin-left:15px;margin-top:3px;font-weight:bolder;">
                    Unique ID: {{user.data.uid}}
                </div>
                <ul app-submenu [item]="constData.Menu" root="true" class="layout-menu" visible="true" [reset]="reset"></ul>
            </div>
        </div>
    </div>
</div>