<form [formGroup]="newPasswordForm">
  <div class="ui-g form-group">
    <div class="ui-g-12 ui-md-7">

      <h3>Reset Password
      </h3>
    </div>
    <div class="ui-g-12">
    </div>
    <div class="ui-g-12 ui-md-12">
      <span class="md-inputfield">
        <input pInputText [required]="true" type="text" formControlName="username">
        <label>Username</label>
        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!newPasswordForm.controls['username'].valid&&newPasswordForm.controls['username'].dirty">
          <i class="fa fa-close"></i>
          Username is required.
        </div>
      </span>
    </div>
    <div class="ui-md-12">

      <div class="ui-g-6">
        <button pButton [disabled]="newPasswordForm.invalid" label="Submit" (click)="reset($event)"></button>
      </div>
      <div class="ui-g-6">
        <button pButton label="Cancel" label="Cancel" (click)="cancel($event)"></button>
      </div>
    </div>
  </div>
</form>