<form [formGroup]="forgotUserForm">
  <div class="ui-g form-group">
    <div class="ui-g-12 ui-md-7">
      <h3>Forgot Username</h3>
    </div>
    <div class="ui-g-12 ui-md-12">
      <span class="md-inputfield">
        <input pInputText type="text" formControlName="idNumber" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
        <label>ID Number</label>
        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!forgotUserForm.controls['idNumber'].valid&&forgotUserForm.controls['idNumber'].dirty">
          <i class="fa fa-close"></i>
          ID Number is required.
        </div>
      </span>
    </div>
    <div class="ui-g-12 ui-md-12">
    Or
    </div>
    <div class="ui-g-12 ui-md-12">
      <span class="md-inputfield">
        <input pInputText type="text" formControlName="email" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
        <label>Email</label>
        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!forgotUserForm.controls['email'].valid&&forgotUserForm.controls['email'].dirty">
          <i class="fa fa-close"></i>
          Email Address is invalid.
        </div>
      </span>
    </div>
    <div class="ui-g-12 ui-md-12">
      <div class="ui-g-6">
        <button pButton [disabled]="!forgotUserForm.valid" label="Submit" (click)="reset($event)"></button>
      </div>
      <div class="ui-g-6">
        <button pButton label="Cancel" label="Cancel" (click)="cancel($event)"></button>
      </div>
    </div>
  </div>
</form>