<form [formGroup]="loginForm">
    <div class="login-body">
        <div class="login-panel ui-fluid" style="height:auto">
            <div class="login-panel-header">
                <img src="../../../assets/images/Outdoor.gif">
            </div>
            <div *ngIf="showSignUp">
                <div class="ui-g">
                    <app-registration [doctorType]="doctorType" (onFailed)="onFailed($event)" (onCancel)="resetScreens()" (onSubmit)="submit($event)"></app-registration>
                </div>
            </div>
            <div *ngIf="showFetchUser">
                <div class="ui-g">
                    <app-forgot-username (onCancel)="resetScreens()" (onSubmit)="submit($event)"></app-forgot-username>
                </div>
            </div>
            <div *ngIf="showNewPass">
                <div class="ui-g">
                    <app-forgot-password (onCancel)="resetScreens()" (onSubmit)="submit($event)" [style]="{width:'100%'}"></app-forgot-password>
                </div>
            </div>
            <div *ngIf="showResetPass">
                <div class="ui-g">
                    <app-new-password [token]="token" (onCancel)="resetScreens()" (onSubmit)="submit($event)" [style]="{width:'100%'}"></app-new-password>
                </div>
            </div>
            <div class="login-panel-content" *ngIf="!showSignUp && !showFetchUser && !showNewPass && !showResetPass">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <h1>Sign-in to The Medical RainForest</h1>
                    </div>
                    <!-- <div class="ui-g-12">
                        <p-selectButton *ngIf="!receptionOnly" [options]="registrationType" [(ngModel)]="doctorType" [ngModelOptions]="{standalone: true}"
                            (ngModelChange)="typeChanged($event)"></p-selectButton>
                    </div> -->
                    <div>
                        <div class="ui-g-12">
                            <span class="md-inputfield">
                                <input type="text" (keydown)="keyDownLogin($event)" formControlName="username" autocomplete="off" pInputText>
                                <label>Username</label>
                            </span>
                        </div>
                        <div class="ui-g-12" *ngIf="loginForm.get('isDoctor').value">
                            <span class="md-inputfield">
                                <input type="text" (keydown)="keyDownLogin($event)" formControlName="hPCSANumber" autocomplete="off" pInputText>
                                <label>HPCSA Number</label>
                            </span>
                        </div>
                        <div class="ui-g-12" *ngIf="loginForm.get('isDoctor').value">
                            <span class="md-inputfield">
                                <input type="text" (keydown)="keyDownLogin($event)" formControlName="practiceNumber" autocomplete="off" pInputText>
                                <label>Practice Number</label>
                            </span>
                        </div>
                        <div class="ui-g-12">
                            <span class="md-inputfield">
                                <input type="password" (keydown)="keyDownLogin($event)" formControlName="password" autocomplete="off" pInputText>
                                <label>Password</label>
                            </span>
                        </div>
                        <div class="ui-g-12">
                            <p-inputSwitch formControlName="rememberMe"></p-inputSwitch> Remember Me
                        </div>
                        <div class="ui-g-12">

                            <button type="button" pButton (click)="login($event)" icon="fa-icon-person" label="Sign In" [disabled]="!loginForm.valid">
                            </button>
                        </div>
                        <div class="ui-g-12">
                            Don't have an account?
                            <a style="cursor: pointer;" (click)="signUp($event)">Sign Up</a> as a {{loginForm.get('isDoctor').value ? 'practitioner' : 'patient'}} now.
                        </div>
                        <div class="ui-g-12">
                            Forgot Password?
                            <a style="cursor: pointer;" (click)="newPass($event)">Reset Password</a> now.
                            <br> Forgot Username?
                            <a style="cursor: pointer;" (click)="fetchUser($event)">Fetch Username</a> now.
                            <br><br>
                            <div *ngIf="!loginForm.get('isDoctor').value">
                                Sign-In as
                                <a style="cursor: pointer;" (click)="typeChanged(1)">Practitioner</a>.
                            </div>
                            <div *ngIf="loginForm.get('isDoctor').value">
                                Sign-In as
                                <a style="cursor: pointer;" (click)="typeChanged(0)">Patient</a>.
                            </div>
                        </div>
                        <div class="ui-g-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>