<p-panel [header]="'Outstanding Invoices'">
  <p-dataTable [value]="data" dataKey="vin">
    <p-column *ngFor="let i of cols" [field]="i.field" [header]="i.header"></p-column>
    <p-column>
      <ng-template let-invoice="rowData" let-i="rowIndex" pTemplate="body">
        <button type="button" pButton (click)="DownloadInvoice($event, invoice)" label="Download"></button>
      </ng-template>
    </p-column>
  </p-dataTable>
</p-panel>