<p-panel [header]="'Bank Details'">
  <button type="button" pButton label="Add Account" (click)="addAccount($event)" icon="fa-plus"></button>
  <p-dataTable [value]="dataSource" [tableStyle]="{'table-layout':'auto'}">
    <p-column *ngFor="let i of cols" [field]="i.field" [header]="i.header"></p-column>
    <p-column>
      <ng-template let-file="rowData" let-i="rowIndex" pTemplate="body">
        <button type="button" pButton (click)="editAccount($event, file)" label="Edit"></button>
        <button type="button" pButton (click)="share($event, file)" label="Share"></button>
        <button type="button" pButton (click)="deleteAccount($event, file)" label="Delete"></button>
      </ng-template>
    </p-column>
  </p-dataTable>
</p-panel>
<p-dialog [(visible)]="showShare">
  <app-patient-share (onSave)="onSave($event)" [bankDetailsId]="bankDetailsId"></app-patient-share>
</p-dialog>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>