:host /deep/ .ui-panelmenu-icon.fa.fa-fw.ng-tns-c3-2.fa-caret-right,
:host /deep/ .ui-panelmenu-icon.fa.fa-fw.ng-tns-c3-2.fa-caret-down {
    float:left;
}

:host /deep/ .ui-g-smallpad.ui-g.form-group > div {
    padding: .2em;
}

:host /deep/ .ui-g-smallpad div {
    padding: .2em;
}

:host /deep/ .fileUpload input[type="file"] {
    position: fixed;
    top: -1000px;
}