<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button pTooltip="New" pButton type="button" icon="fa-plus" (click)="openEditor($event)"></button>
  </div>

  <div class="ui-toolbar-group-right">
    <!-- <button type="button" style="padding:0;" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only">
      <span style="margin-top: 7px;" class="ui-button-icon-left ui-clickable material-icons">search</span>
      <span class="ui-button-text ui-clickable">ui-btn</span>
      <span class="ink ripple-animate" style="height: 35px; width: 35px; top: 6.75px; left: 3.125px; pointer-events: none;"></span>
    </button> -->
    <button  pTooltip="Refresh" (click)="getEmails(selectedItem ? selectedItem.storeType : 'Inbox')" type="button" style="padding:0;" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only">
      <span style="margin-top: 7px;" class="ui-button-icon-left ui-clickable material-icons">loop</span>
      <span class="ui-button-text ui-clickable">ui-btn</span>
      <span class="ink ripple-animate" style="height: 35px; width: 35px; top: 6.75px; left: 3.125px; pointer-events: none;"></span>
    </button>
    <i class="material-icons">reorder</i>
    <button (click)="archiveEmail($event)" [disabled]="!selectedItem" pTooltip="Archive Selected Item" type="button" style="padding:0;" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only">
      <span style="margin-top: 7px;" class="ui-button-icon-left ui-clickable fas material-icons">assignment_turned_in</span>
      <span class="ui-button-text ui-clickable">ui-btn</span>
      <span class="ink ripple-animate" style="height: 35px; width: 35px; top: 6.75px; left: 3.125px; pointer-events: none;"></span>
    </button>
    <button (click)="deleteEmail($event)" [disabled]="!selectedItem" pTooltip="Delete Selected Item" type="button" style="padding:0;" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only">
      <span style="margin-top: 7px;" class="ui-button-icon-left ui-clickable fas material-icons">delete</span>
      <span class="ui-button-text ui-clickable">ui-btn</span>
      <span class="ink ripple-animate" style="height: 35px; width: 35px; top: 6.75px; left: 3.125px; pointer-events: none;"></span>
    </button>
  </div>
</p-toolbar>
<div class="ui-g" style="position:relative;">
  <div class="ui-g-12 ui-md-3">
    <p-card [style]="{'height': '95%'}">
      <p-panelMenu [model]="emailList" [multiple]="false"></p-panelMenu>
    </p-card>
    <!-- <button type="button" style="padding:0;" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only">
        <span style="margin-top: 7px;" class="ui-button-icon-left ui-clickable fas material-icons">inbox</span>
        <span class="ui-button-text ui-clickable">ui-btn</span>
        <span class="ink ripple-animate" style="height: 35px; width: 35px; top: 6.75px; left: 3.125px; pointer-events: none;"></span>
      </button>
      <button type="button" style="padding:0;" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only">
        <span style="margin-top: 7px;" class="ui-button-icon-left ui-clickable fas material-icons">archive</span>
        <span class="ui-button-text ui-clickable">ui-btn</span>
        <span class="ink ripple-animate" style="height: 35px; width: 35px; top: 6.75px; left: 3.125px; pointer-events: none;"></span>
      </button> -->
    <p-tabMenu [model]="tabMenu" [(activeItem)]="activeItem">

    </p-tabMenu>
  </div>
  <div class="ui-g-12 ui-md-9 ui-g-nopad">
    <div class="ui-g-12 ui-g-nopad">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-g-nopad" style="height:69vh">
          <div class="ui-g-12 ui-md-12">
            <p-card>
              <div class="ui-g form-group ui-g-smallpad" style="font-size: .8em;">
                <div class="ui-g-nopad">
                  <button [disabled]="!selectedItem" pTooltip="Reply" type="button" (click)="reply($event)" style="padding:0;" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only">
                    <span style="margin-top: 7px;" class="ui-button-icon-left ui-clickable fas material-icons">reply</span>
                    <span class="ui-button-text ui-clickable">ui-btn</span>
                    <span class="ink ripple-animate" style="height: 35px; width: 35px; top: 6.75px; left: 3.125px; pointer-events: none;"></span>
                  </button>
                  <button [disabled]="!selectedItem" pTooltip="Forward" type="button" (click)="forward($event)" style="padding:0;" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only">
                    <span style="margin-top: 7px;" class="ui-button-icon-left ui-clickable fas material-icons">forward</span>
                    <span class="ui-button-text ui-clickable">ui-btn</span>
                    <span class="ink ripple-animate" style="height: 35px; width: 35px; top: 6.75px; left: 3.125px; pointer-events: none;"></span>
                  </button>
                </div>
                <div class="ui-g-12 ui-md-12 ui-g-nopad" *ngIf="selectedItem">
                  <label>From: {{selectedItem ? selectedItem.from : ''}}</label>
                </div>
                <div class="ui-g-12 ui-md-12 ui-g-nopad" *ngIf="selectedItem">
                  <label>Subject: {{selectedItem ? selectedItem.subject : ''}}</label>
                </div>
              </div>
            </p-card>
          </div>
          <div class="ui-g-12 ui-md-12" style="height:83%">
            <p-card [style]="{'height':'100%'}">
              <div [style]="{'height':'100%', 'overflow':'auto'}" [innerHtml]="selectedHtml">

              </div>
            </p-card>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="ui-g-12">
      Footer
  </div> -->
</div>
<p-dialog [(visible)]="showEditor" (onHide)="modelClose($event)" [height]="730" [width]="1024">
  <p-header>
    New - {{subject}}
  </p-header>
  <div [formGroup]="emailGroup">
    <div class="ui-g-12 ui-md-12">
      <div class="ui-g form-group ui-g-smallpad">
        <div class="ui-g ui-md-1 ui-g-smallpad">
          <button (click)="send($event)" pButton label="Send" style="margin-top: 5px; height: 109px;"></button>
        </div>
        <div class="ui-g ui-g-11 ui-g-nopad">
          <div class="ui-g-12 ui-md-12 ui-g-nopad">
            <div class="ui-g-12 ui-md-1 ui-g-nopad">
              <button pButton label="To" (click)="toAdd($event)"></button>
            </div>
            <div class="ui-g-12 ui-md-11 ui-g-nopad">
              <div class="md-inputfield">
                <input [(ngModel)]="toAddress" pInputText type="text" style="width:100%" formControlName="to" />
                <label>To</label>
              </div>
            </div>
          </div>
          <div class="ui-g ui-md-12 ui-g-nopad">
            <div class="ui-g-12 ui-md-1 ui-g-nopad">
              <button pButton label="CC" (click)="ccAdd($event)"></button>
            </div>
            <div class="ui-g-12 ui-md-11 ui-g-nopad">
              <div class="md-inputfield">
                <input [(ngModel)]="ccAddress" pInputText type="text" style="width:100%" formControlName="cc" />
                <label>CC</label>
              </div>
            </div>
          </div>
          <div class="ui-g ui-md-12 ui-g-nopad">
            <div class="ui-g-12 ui-md-1 ui-g-nopad">
              <label></label>
            </div>
            <div class="ui-g-12 ui-md-11 ui-g-nopad">
              <div class="md-inputfield">
                <input pInputText type="text" [(ngModel)]="subject" style="width:100%" formControlName="subject" />
                <label>Subject</label>
              </div>
            </div>
          </div>
          <div class="ui-g ui-md-12 ui-g-nopad">
            <div class="ui-g-12 ui-md-1 ui-g-nopad fileUpload">
                <label class="myLabel">
                    <input (change)="getFiles($event)" type="file" multiple/>
                    <span style="padding-top: 8px;" pButton>Attach</span>
                </label>
            </div>
            <div class="ui-g-12 ui-md-11 ui-g-nopad">
              <div class="md-inputfield">
                <input disabled pInputText [(ngModel)]="files" [ngModelOptions]="{standalone: true}" type="text" style="width:100%"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-g-12 ui-md-12">
      <p-editor [style]="{'height':'420px'}" formControlName="body">

      </p-editor>
    </div>
  </div>
</p-dialog>
<p-dialog [(visible)]="showAddWindow">
  <p-dataTable [value]="data" [style]="{'width':'400'}" dataKey="vin" [tableStyle]="{'table-layout':'auto'}">
    <p-column *ngFor="let i of cols" [field]="i.field" [header]="i.header"></p-column>
    <p-column>
      <ng-template let-data="rowData" let-i="rowIndex" pTemplate="body">
        <button type="button" pButton (click)="Select($event, data)" label="Select"></button>
      </ng-template>
    </p-column>
  </p-dataTable>
  <input pInputText style="width:100%" [(ngModel)]="emailAdresses" />
  <p-footer>
    <button pButton label="Add" (click)="addToAddress($event)"></button>
    <button pButton label="Cancel" (click)="closeAdd($event)"></button>
  </p-footer>
</p-dialog>