<p-panel [header]="'Receptionists'">
  <button type="button" pButton label="Add Receptionist" (click)="add($event)" icon="fa-plus"></button>
  <p-dataTable [value]="dataSource" [tableStyle]="{'table-layout':'auto'}">
    <p-column *ngFor="let i of cols" [field]="i.field" [header]="i.header"></p-column>
    <p-column>
      <ng-template let-file="rowData" let-i="rowIndex" pTemplate="body">
        <!-- <button type="button" pButton (click)="view($event, file)" label="View"></button> -->
        <button type="button" pButton (click)="reset($event, file)" label="Reset Password"></button>
        <button type="button" pButton (click)="delete($event, file)" label="Delete"></button>
      </ng-template>
    </p-column>
  </p-dataTable>
</p-panel>