<div class="landing-body">
    <div class="landing-wrapper">
        <!-- <div id="header">
            <div>
                <img src="../../../assets/images/Outdoor.gif" class="logo" />
                <span _ngcontent-c1="" style="font-size: 1.3em;display:  inline-block;position: relative;top: -22px;">The Medical RainForest</span>
                <a id="landing-menu-button" href="#">
                    <i class="material-icons">menu</i>
                </a>

                <ul id="landing-menu">
                    <li>
                        <a href="#home">HOME</a>
                    </li>
                    <li>
                        <a (click)="scrollTo('contact')">CONTACT</a>
                    </li>
                    <li>
                        <a style="cursor:pointer;" (click)="login($event)">SIGN IN</a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="introduction">
            <div>
                
            </div>
        </div>

        <div id="contact">
            <div [formGroup]="emailFormGroup">
                <h2>Contact</h2>
                <p>Fill in the fields below and we’ll get back to you</p>

                <div class="ui-g">
                    <div class="ui-g-12 ui-md-8 contact-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3583.0856871517326!2d27.942248883533765!3d-26.096121430189548!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1c7733c33f7d5f8d!2sLifestyle+Home+Garden!5e0!3m2!1sen!2sza!4v1522170761273" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>

                    <div class="ui-g-12 ui-md-4 contact-form ui-fluid">
                        <div class="ui-g-12">
                            <span class="md-inputfield">
                                <input type="text" pInputText formControlName="name"/>
                                <label>Name</label>
                            </span>
                        </div>

                        <div class="ui-g-12">
                            <span class="md-inputfield">
                                <input type="text" pInputText formControlName="email" />
                                <label>Email</label>
                            </span>
                        </div>

                        <div class="ui-g-12">
                            <span class="md-inputfield">
                                <textarea pInputTextarea formControlName="message" placeholder="Message"></textarea>
                            </span>
                        </div>

                        <button type="button" pButton (click)="send($event)" [disabled]="!emailFormGroup.valid" label="Send">
                        </button>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="centerThing">
            <div class="big-circle">
                <img class="tree" src="../../../assets/images/Outdoor2.gif">
                <h1 class="headerLabel">The Medical Rainforest</h1>
            </div>
            <div class="buttonSection">
                <a pButton class="signUpButton" (click)="clickSignUp($event)" label="Sign Up"></a>
                <a pButton class="signInButton" (click)="clickSignIn($event)" label="Sign In"></a>
                <a pButton class="aboutUsButton" (click)="clickAboutUs($event)" label="Contact Us"></a>
            </div>
        </div>

        <div id="footer">
            <div>
                <div class="ui-g ui-g-12">
                    <div class="ui-g-12 ui-md-4">
                        <img src="../../../assets/images/Outdoor.gif" class="footer-logo" />

                        <div>
                            <h4></h4>
                            <p>The Medical RainForest</p>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-3">
                        <h4>CONTACT</h4>
                        <p>Lorem ipsum dolor sit amet, Consectetur adipisicing elit. 344 CA, San Francisco USA</p>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <p>
                        <i class="material-icons">phone</i> +108278 92 728</p>
                    </div>
                    <div class="ui-g-12 ui-md-3 footer-social">
                        <h4>SOCIAL</h4>
                        <a href="#">
                            <img src="../../../assets/layout/images/landing/icon-twitter.svg">
                        </a>
                        <a href="#">
                            <img src="../../../assets/layout/images/landing/icon-linkedin.svg">
                        </a>
                        <a href="#">
                            <img src="../../../assets/layout/images/landing/icon-facebook.svg">
                        </a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
<p-growl [(value)]="msgs"></p-growl>