
:host /deep/ body, .landing-body {
    background-image: url('../../../assets/images/jungle2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.centerThing {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-35%, -60%);
}

.big-circle {
    background: #fff;
    width: 500px;
    height: 500px;
    border-radius: 100%;
}

.big-circle .tree {
    position: absolute;
    top: -20px;
}

.big-circle .headerLabel {
    position: absolute;
    bottom: 64px;
    left: 19%;
    font-weight: normal;
}

.buttonSection {
    top: 30%;
    position: absolute;
    right: -13vw;
    width: 185px;
}

.buttonSection a {
    display: inline-block;
    width: 250px;
    height: 50px;
    font-size: 1.3em;
    margin: 15px 0;
    padding-top: 4px;
}

.signUpButton {
    background-color: #ccada1;
}

.signInButton {
    background-color: #9c7b6f;
}

.aboutUsButton {
    background-color: #795548;
}

.signUpButton:hover,
.signInButton:hover,
.aboutUsButton:hover {
    background-color: #4CAF50;
}