    <div class="exception-body accessdenied">
        <div class="exception-panel">
            <div class="exception-code">
                <img src="../../../assets/layout/images/exception/401.svg">
            </div>

            <div class="exception-detail">

                <div class="exception-icon">
                    <i class="material-icons">verified_user</i>
                </div>
                <h1>ACCESS DENIED</h1>
                <p>Please contact the system administrator</p>
                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-only">
                    <span class="ui-button-text" (click)="goBack($event)">GO BACK</span>
                </button>
            </div>
        </div>
    </div>