<form [formGroup]="registrationForm" (ngSubmit)="submitForm(registrationForm.value)">
  <p-card [title]="receptionOnly ? 'Register User' : 'Sign Up'">
    <div class="ui-g form-group">
      <div class="ui-g-12 ui-md-4">
        <span class="md-inputfield">
          <input pInputText [required]="true" formControlName="name" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
          <label>Name</label>
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!registrationForm.controls['name'].valid&&registrationForm.controls['name'].dirty">
            <i class="fa fa-close"></i>
            Name is required
          </div>
        </span>
      </div>
      <div class="ui-g-12 ui-md-4">
        <span class="md-inputfield">
          <input pInputText [required]="true" formControlName="surname" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
          <label>Surname</label>
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!registrationForm.controls['surname'].valid&&registrationForm.controls['surname'].dirty">
            <i class="fa fa-close"></i>
            Surname is required
          </div>
        </span>
      </div>
      <div class="ui-g-12 ui-md-4">
        <span class="md-inputfield">
          <input pInputText [required]="true" type="text" formControlName="username" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
          <label>Username</label>
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!registrationForm.controls['username'].valid&&registrationForm.controls['username'].dirty">
            <i class="fa fa-close"></i>
            <div class="alert alert-danger" *ngIf="registrationForm?.controls['username']?.errors['usernameInUse']">Username already exists</div>
            <span *ngIf="registrationForm?.controls['username']?.errors['required']">Username is required</span>
            <span *ngIf="registrationForm.controls['username'].errors['minlength']">Must be longer than 6 characters</span>
            <span *ngIf="registrationForm.controls['username'].errors['maxlength']">Must be shorter than 20 characters</span>
          </div>
        </span>
      </div>
      <div class="ui-g-12 ui-md-4">
        <span class="md-inputfield">
          <input pInputText [required]="true" formControlName="email" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
          <label>Email</label>
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!registrationForm.controls['email'].valid&&registrationForm.controls['email'].dirty">
            <i class="fa fa-close"></i>
            Email is invalid.
          </div>
        </span>
      </div>
      <div class="ui-g-12 ui-md-4">
        <span class="md-inputfield">
          <input pInputText [required]="true" formControlName="phone" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
          <label>Phone</label>
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!registrationForm.controls['phone'].valid&&registrationForm.controls['phone'].dirty">
            <i class="fa fa-close"></i>
            Phone Number is required
          </div>
        </span>
      </div>
      <div class="ui-g-12 ui-md-4" *ngIf="!receptionOnly">
        <span class="md-inputfield">
          <input pInputText [required]="true" type="password" formControlName="password" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
          <label>Password</label>
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!registrationForm.controls['password'].valid&&registrationForm.controls['password'].dirty">
            <i class="fa fa-close"></i>
            <span *ngIf="registrationForm.controls['password'].errors['required']">Password is required</span>
            <span *ngIf="registrationForm.controls['password'].errors['minlength']">Must be longer than 8 characters and one alphabet character</span>
          </div>
        </span>
      </div>
      <div class="ui-g-12 ui-md-4" *ngIf="!receptionOnly">
        <span class="md-inputfield">
          <input pInputText [required]="true" type="password" formControlName="confirmPassword" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
          <label>Confirm Password</label>
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!registrationForm.controls['confirmPassword'].valid&&registrationForm.controls['confirmPassword'].dirty">
            <i class="fa fa-close"></i>
            <span *ngIf="registrationForm.controls['confirmPassword'].errors['required']">Password is required</span>
            <span *ngIf="registrationForm.controls['confirmPassword'].errors['minlength']">Must be longer than 8 characters and one alphabet character</span>
            <div class="alert alert-danger" *ngIf="registrationForm.controls['confirmPassword'].errors['matchPassword']">Password does not match</div>
          </div>
        </span>
      </div>
      <div *ngIf="isDoctor == 'Doctor' && !receptionOnly">
        <div class="ui-g-12 ui-md-4">
          <span class="md-inputfield">
            <input pInputText [required]="isDoctor == 'Doctor' && !receptionOnly" formControlName="idpass" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
            <label>ID/Passport No</label>
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!registrationForm.controls['idpass'].valid&&registrationForm.controls['idpass'].dirty">
              <i class="fa fa-close"></i>
              Please enter a valid ID or Passport Number
            </div>
          </span>
        </div>
        <div class="ui-g-12 ui-md-4">
          <span class="md-inputfield">
            <input pInputText [required]="isDoctor == 'Doctor' && !receptionOnly" formControlName="hpcsa" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
            <label>HPCSA No</label>
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!registrationForm.controls['hpcsa'].valid&&registrationForm.controls['hpcsa'].dirty">
              <i class="fa fa-close"></i>
              This is a required field. Please fill in the correct information.
            </div>
          </span>
        </div>
        <div class="ui-g-12 ui-md-4">
          <span class="md-inputfield">
            <input pInputText [required]="isDoctor == 'Doctor' && !receptionOnly" formControlName="practice" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
            <label>Practice Number</label>
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!registrationForm.controls['practice'].valid&&registrationForm.controls['practice'].dirty">
              <i class="fa fa-close"></i>
              This is a required field. Please fill in the correct information.
            </div>
          </span>
        </div>
        <div class="ui-g-12 ui-md-4">
          <span class="md-inputfield">
            <input pInputText type="text" formControlName="practicePhone" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
            <label>Practice Phone No</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-4">
          <p-dropdown [options]="discipline" [filter]="true" [required]="isDoctor == 'Doctor' && !receptionOnly" [style]="{'width':'100%'}" placeholder="Select dicipline"
            formControlName="diciplineId"></p-dropdown>
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!registrationForm.controls['diciplineId'].valid&&registrationForm.controls['diciplineId'].dirty">
            <i class="fa fa-close"></i>
            This is a required field. Please select a profession.
          </div>
        </div>
        <div class="ui-g-12 ui-md-12">
          <div class="ui-g-12 ui-md-1">
            <p-inputSwitch [onLabel]="'Yes'" formControlName="acceptOnlineAppointments" [offLabel]="'No'"></p-inputSwitch>
          </div>
          <div class="ui-g-12 ui-md-11">
            <label>Do you accept online appointments?</label>
          </div>
        </div>
      </div>
      <div class="ui-g-12" *ngIf="!receptionOnly">
        <div [formGroup]="acceptGroup" class="ui-g-12 ui-md-12">
            <div class="ui-g-12 ui-md-1">
              <p-inputSwitch [onLabel]="'I confirm'" [disabled]="!registrationForm.valid" formControlName="accept" [offLabel]="'I reject'"
                (onChange)="onAccept($event)"></p-inputSwitch>
            </div>
          <div class="ui-g-12 ui-md-11">
            <label>I Agree to the
              <a href="http://www.medicalrainforest.com/WEBSITE%20TERMS%20OF%20USE.pdf" target="_blank">Terms and Conditions</a>
            </label>
          </div>
        </div>
        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!acceptGroup.controls['accept'].valid&&acceptGroup.controls['accept'].dirty">
          <i class="fa fa-close"></i>
          Please accept the terms and conditions
        </div>

      </div>
      <div class="ui-g ui-g-12">
        <div class="ui-g-6">
          <button pButton [disabled]="(disableReg) && !(receptionOnly && registrationForm.valid)" label="Register" label="Register"
            (click)="register($event)"></button>
        </div>
        <div class="ui-g-6">
          <button pButton label="Cancel" label="Cancel" (click)="cancel($event)"></button>
        </div>
        <div class="ui-g-12 ui-md-12">
          Sign-Up as <a style="cursor: pointer;" (click)="typeChanged(doctorType === 0 ? 1 : 0)">{{doctorType === 1 ? 'Patient' : 'Practitioner'}}</a>
        </div>
      </div>
    </div>
  </p-card>
</form>
<div class="full-modal" *ngIf="registering">
  <div>
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>