.full-modal {
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: rgba(0,0,0,0.4)
}

.full-modal > div {
    text-align: center;
    top:40%;
    left: 50%;
    position: fixed;
}