
    <div class="exception-body notfound">
        <div class="exception-panel">
            <div class="exception-code">
                <img src="../../../assets/layout/images/exception/404.svg">
            </div>

            <div class="exception-detail">
                <div class="exception-icon">
                    <i class="material-icons">error_outline</i>
                </div>
                <h1>PAGE NOT FOUND</h1>
                <p>Please contact the system administrator</p>
                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-only">
                    <span class="ui-button-text" (click)="goBack($event)">GO BACK</span>
                </button>
            </div>
        </div>
    </div>