<div class="ui-g-12 ui-md-12">
  <p-dropdown [options]="patient" (onChange)="setPerson($event)" [style]="{'width':'200px'}" placeholder="Link to"></p-dropdown>
</div>
<div class="ui-g ui-md-12">
<button pButton label="Link" (click)="linkBankDetails($event)"></button>
</div>