
.centerThing {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 800px;
    width: 800px;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background-color: transparent;
}