<div class="layout-wrapper" (click)="onWrapperClick()"
    [ngClass]="{'layout-wrapper-static': layoutStatic,
                'layout-wrapper-active': mobileMenuActive,
                'layout-rtl': isRTL}">
    <div>
        <app-menu  *ngIf="isLoggedIn"></app-menu>
        <div class="layout-main">
            <app-topbar *ngIf="isLoggedIn"></app-topbar>
            
            <app-breadcrumb *ngIf="isLoggedIn"></app-breadcrumb>
    
            <div class="layout-content">
                <router-outlet></router-outlet>
            </div>
            
            <app-footer *ngIf="isLoggedIn"></app-footer>
            <div class="layout-main-mask" *ngIf="mobileMenuActive"></div>
        </div>
    </div>
</div>
<p-growl [(value)]="msgs"></p-growl>