<div class="form-group">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-12">
      <p>Please tell us if this is an invoice or a statement.</p>
    </div>
    <button pButton label="Invoice" (click)="verifyClick($event, 'Invoice')"></button>
    <button pButton label="Statement" (click)="verifyClick($event, 'Statement')"></button>
  </div>
</div>