<div class="container">
  <p-panel [header]="'Me and my Family'">
    <div class="ui-g form-group">
      <div class="ui-g-3 ui-md-3" *ngFor="let item of family">
        <p-card [style]="{'text-align':'center'}">
          <img [src]="item.img" width="100">
          <div class="">{{item.firstName}} - {{item.surname}}</div>
          <hr class="ui-widget-content" style="border-top:0">
          <i class="material-icons" (click)="selectPerson($event, item)" style="cursor:pointer">create</i>
          <i class="material-icons" (click)="deletePerson($event, item)" style="cursor:pointer">delete</i>
      </p-card>
      </div>
      <div class="ui-g-3 ui-m-3" style="cursor:pointer" (click)="createPerson($event)">
          <p-card [style]="{'text-align':'center', 'height': '100%', 'padding-top': '32px'}">
              <i class="fa fa-plus" style="font-size:7em;">
              </i>
          </p-card>
      </div>
    </div>
  </p-panel>
</div>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>