<form [formGroup]="registrationForm">
  <p-tabView orientation="left">
    <p-tabPanel header="Basic Information">
      <p-card [title]="'Profile'">
        <div class="ui-g form-group">
          <div class="ui-g-12 ui-md-12">
            <span class="md-inputfield">
              <input pInputText type="text" formControlName="username">
              <label>Username</label>
              <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!registrationForm.controls['username'].valid&&registrationForm.controls['username'].dirty">
                <i class="fa fa-close"></i>
                <!-- <div class="alert alert-danger" *ngIf="registrationForm?.controls['username']?.errors['usernameInUse']">Username already exists</div> -->
                <span *ngIf="registrationForm?.controls['username']?.errors['required']">Username is required</span>
                <span *ngIf="registrationForm.controls['username'].errors['minlength']">Must be longer than 6 characters</span>
                <span *ngIf="registrationForm.controls['username'].errors['maxlength']">Must be shorter than 20 characters</span>
              </div>
            </span>
          </div>
          <div class="ui-g-12 ui-md-2">
            <span class="md-inputfield">
              <input pInputText [required]="true" formControlName="name" type="text">
              <label>Name</label>
              <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!registrationForm.controls['name'].valid&&registrationForm.controls['name'].dirty">
                <i class="fa fa-close"></i>
                Name is required
              </div>
            </span>
          </div>
          <div class="ui-g-12 ui-md-2">
            <span class="md-inputfield">
              <input pInputText [required]="true" formControlName="surname" type="text">
              <label>Surname</label>
              <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!registrationForm.controls['surname'].valid&&registrationForm.controls['surname'].dirty">
                <i class="fa fa-close"></i>
                Surname is required
              </div>
            </span>
          </div>
          <div class="ui-g-12 ui-md-2">
            <span class="md-inputfield">
              <input pInputText [required]="true" formControlName="email" type="text">
              <label>Email</label>
              <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!registrationForm.controls['email'].valid&&registrationForm.controls['email'].dirty">
                <i class="fa fa-close"></i>
                Email is required
              </div>
            </span>
          </div>
          <div class="ui-g-12 ui-md-2">
            <span class="md-inputfield">
              <input pInputText [required]="true" formControlName="phone" type="text">
              <label>Phone</label>
              <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!registrationForm.controls['phone'].valid&&registrationForm.controls['phone'].dirty">
                <i class="fa fa-close"></i>
                Phone Number is required
              </div>
            </span>
          </div>
          <div class="ui-md-12" *ngIf="isDoctor == 'Doctor'">
            <div class="ui-g-12 ui-md-2">
              <span class="md-inputfield">
                <input pInputText [required]="isDoctor == 'Doctor'" formControlName="idPass" type="text">
                <label>ID/Passport No</label>
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!registrationForm.controls['idPass'].valid&&registrationForm.controls['idPass'].dirty">
                  <i class="fa fa-close"></i>
                  Please enter a valid ID or Passport Number
                </div>
              </span>
            </div>
            <div class="ui-g-12 ui-md-2">
              <span class="md-inputfield">
                <input pInputText [required]="isDoctor == 'Doctor'" formControlName="hpcsa" type="text">
                <label>HPCSA No</label>
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!registrationForm.controls['hpcsa'].valid&&registrationForm.controls['hpcsa'].dirty">
                  <i class="fa fa-close"></i>
                  This is a required field. Please fill in the correct information.
                </div>
              </span>
            </div>
            <div class="ui-g-12 ui-md-2">
              <span class="md-inputfield">
                <input pInputText [required]="isDoctor == 'Doctor'" formControlName="practice" type="text">
                <label>Practice Number</label>
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!registrationForm.controls['practice'].valid&&registrationForm.controls['practice'].dirty">
                  <i class="fa fa-close"></i>
                  This is a required field. Please fill in the correct information.
                </div>
              </span>
            </div>
            <div class="ui-g-12 ui-md-2">
              <span class="md-inputfield">
                <input pInputText type="text" formControlName="practicePhone">
                <label>Practice Phone No</label>
              </span>
            </div>
            <div class="ui-g-12 ui-md-2">
              <p-dropdown [options]="discipline" [required]="isDoctor == 'Doctor'" [style]="{'width':'100%'}" placeholder="Select dicipline"
                formControlName="diciplineId"></p-dropdown>
              <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!registrationForm.controls['diciplineId'].valid&&registrationForm.controls['diciplineId'].dirty">
                <i class="fa fa-close"></i>
                This is a required field. Please select a profession.
              </div>
            </div>
            <div class="ui-g-12 ui-md-12">
              <span class="md-inputfield">
                <textarea pInputTextarea formControlName="location" placeholder="Location" type="text"></textarea>
              </span>
            </div>
          </div>
        </div>
      </p-card>
    </p-tabPanel>
    <p-tabPanel header="Manage Terms & Conditions" *ngIf="user.isDoctor">
      <p-card>
        <div class="ui-g form-group">
          <div class="ui-g-12 ui-md-12">
            <p-inputSwitch formControlName="disableTnC"></p-inputSwitch> Disable Terms and Conditions.
          </div>
          <div class="ui-g-12 ui-md-12">
            <button pButton [disabled]="registrationForm.controls['disableTnC'].value" (click)="openUpload()" label="Upload Terms and Conditions"></button>
          </div>
          <div class="ui-g-12 ui-md-12" *ngIf="!registrationForm.controls['disableTnC'].value && user.data.hasTnC">
            Download your
            <a [href]="downloadTnCUrl" target="_blank">Terms and Conditions</a>
          </div>
        </div>
      </p-card>
    </p-tabPanel>
    <p-tabPanel header="Settings" *ngIf="user.isDoctor">
      <div class="ui-g form-group">
        <div class="ui-g-12 ui-md-6">
          <p-fieldset legend="Working Days" *ngIf="options.workingdays !== null">
            <div class="ui-g-12 ui-md-6" *ngFor="let item of options.workingdays">
              <div class="ui-g-12 ui-md-4">
                <p-inputSwitch [ngModelOptions]="{standalone: true}" [(ngModel)]="item.enabled"></p-inputSwitch> {{item.day}}
              </div>
              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield">
                  <p-calendar [showTime]="true" hourFormat="24" [timeOnly]="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.startTime" [disabled]="!item.enabled"></p-calendar>
                  <label>Start Time</label>
                </span>
              </div>
              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield">
                  <p-calendar [showTime]="true" hourFormat="24" [timeOnly]="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.endTime" [disabled]="!item.enabled"></p-calendar>
                  <label>End Time</label>
                </span>
              </div>
            </div>
          </p-fieldset>
        </div>
        <div class="ui-g-12 ui-md-6">
          <p-fieldset legend="Working Hours">
            <div class="ui-g-12 ui-md-12">
              <button pButton icon="fa-plus" (click)="addLeaveDay()"></button>
            </div>
            <div class="ui-g-12 ui-md-12">
            </div>
            <div class="ui-g-12 ui-md-12" *ngFor="let leave of options.leavedays">
              <div class="ui-g-12 ui-md-6">
                <span class="md-inputfield">
                  <input pInputText type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="leave.description" style="width:100%;" />
                  <label>Description</label>
                </span>
              </div>
              <div class="ui-g-12 ui-md-2">
                <span class="md-inputfield">
                  <p-calendar [showTime]="true" hourFormat="24" [ngModelOptions]="{standalone: true}" [(ngModel)]="leave.startDate"></p-calendar>
                  <label>Start Date</label>
                </span>
              </div>
              <div class="ui-g-12 ui-md-2">
                <span class="md-inputfield">
                  <p-calendar [showTime]="true" hourFormat="24" [ngModelOptions]="{standalone: true}" [(ngModel)]="leave.endDate"></p-calendar>
                  <label>End Date</label>
                </span>
              </div>
              <div class="ui-g-12 ui-md-2">
                <button pButton label="Delete" (click)="deleteLeaveDay(leave)"></button>
              </div>
            </div>
          </p-fieldset>
        </div>
        <div class="ui-g-12 ui-md-6">
          <p-fieldset legend="Booking Settings">
            <div class="ui-g-12 ui-md-4">
              <p-inputSwitch formControlName="disableTnC"></p-inputSwitch> Enable Patient Bookings
            </div>
            <div class="ui-g-12 ui-md-4">
              <p-inputSwitch formControlName="disableTnC"></p-inputSwitch> Enable Patient Booking Updates
            </div>
            <div class="ui-g-12 ui-md-4">
              <p-inputSwitch formControlName="disableTnC"></p-inputSwitch> Enable Patient Booking Duration Updates
            </div>
          </p-fieldset>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Manage Password">
      <p-card>
        <div class="ui-g form-group">
          <div class="ui-g-12 ui-md-12">
            <div class="ui-g-12 ui-md-2">
              <span class="md-inputfield">
                <input pInputText type="password" formControlName="oldPassword">
                <label>Old Password</label>
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!registrationForm.controls['oldPassword'].valid&&registrationForm.controls['oldPassword'].dirty">
                  <i class="fa fa-close"></i>
                  <span *ngIf="registrationForm.controls['oldPassword'].errors['required']">Password is required</span>
                  <span *ngIf="registrationForm.controls['oldPassword'].errors['minlength']">Must be longer than 8 characters and one alphabet character</span>
                </div>
              </span>
            </div>
            <div class="ui-g-12 ui-md-2">
              <span class="md-inputfield">
                <input pInputText type="password" formControlName="password">
                <label>Password</label>
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!registrationForm.controls['password'].valid&&registrationForm.controls['password'].dirty">
                  <i class="fa fa-close"></i>
                  <span *ngIf="registrationForm.controls['password'].errors['required']">Password is required</span>
                  <span *ngIf="registrationForm.controls['password'].errors['minlength']">Must be longer than 8 characters and one alphabet character</span>
                </div>
              </span>
            </div>
            <div class="ui-g-12 ui-md-2">
              <span class="md-inputfield">
                <input pInputText type="password" formControlName="confirmPassword">
                <label>Confirm Password</label>
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!registrationForm.controls['confirmPassword'].valid&&registrationForm.controls['confirmPassword'].dirty">
                  <i class="fa fa-close"></i>
                  <span *ngIf="registrationForm.controls['confirmPassword'].errors['required']">Password is required</span>
                  <span *ngIf="registrationForm.controls['confirmPassword'].errors['minlength']">Must be longer than 8 characters and one alphabet character</span>
                  <div class="alert alert-danger" *ngIf="registrationForm.controls['confirmPassword'].errors['matchPassword']">Password does not match</div>
                </div>
              </span>
            </div>
          </div>
        </div>
      </p-card>
    </p-tabPanel>
  </p-tabView>
  <div class="ui-g-12">
    <button pButton [disabled]="!registrationForm.valid" label="Submit" (click)="save()"></button>
    <button pButton label="Back" (click)="goBack($event)"></button>
  </div>

</form>
<p-dialog [(visible)]="showTnCs" [width]="500">
  <app-upload-conditions (cancel)="onUploadCancel()" (termsUploaded)="onUploadDone($event)"></app-upload-conditions>
</p-dialog>