<p-panel [header]="'Invoices'">
  <button type="button" pButton label="Add Invoice" icon="fa-plus" (click)="NewFile($event)"></button>
  <p-dataTable [value]="data" dataKey="vin" [tableStyle]="{'table-layout':'auto'}">
    <p-column *ngFor="let i of cols" [field]="i.field" [header]="i.header"></p-column>
    <p-column>
      <ng-template let-file="rowData" let-i="rowIndex" pTemplate="body">
        <button type="button" pButton (click)="email($event, file)" label="Email"></button>
        <button type="button" pButton (click)="DownloadFile($event, file)" label="Download"></button>
        <button type="button" pButton (click)="DeleteFile($event, file)" label="Delete"></button>
        <button type="button" pButton (click)="markPaid($event, file, true)" *ngIf="file.paid === false" label="Paid"></button>
        <button type="button" pButton (click)="markPaid($event, file, false)" *ngIf="file.paid === true" label="Un-Paid"></button>
      </ng-template>
    </p-column>
  </p-dataTable>
</p-panel>
<p-dialog [(visible)]="showEmail" [width]="700">
  <app-invoice-email [invoiceItem]="fileItem" (cancel)="onSendCancel()" (invoiceSent)="onInvoiceSent($event)"></app-invoice-email>
</p-dialog>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>