<div class="layout-topbar">
    <img alt="logo" src="assets/layout/images/logo-slim.png" class="mobile-logo"/>
    
    <a href="#" class="menu-btn" (click)="app.onMenuButtonClick($event)">
        <i class="material-icons">&#xE5D2;</i>
    </a>

    <a href="#" class="topbar-menu-btn" (click)="app.onTopbarMobileMenuButtonClick($event)">
        <i class="material-icons">&#xE853;</i>
    </a>
    
    <div class="layout-topbar-menu-wrapper">
        <ul class="topbar-menu fadeInDown" [ngClass]="{'topbar-menu-active': app.topbarMenuActive}" (click)="app.onTopbarMenuClick($event)">
            <li #profile class="profile-item" [ngClass]="{'active-topmenuitem': app.activeTopbarItem === profile}" (click)="app.onTopbarRootItemClick($event, profile)">
                <a href="#">
                    <span class="profile-image-wrapper">
                        <img src="../../../../assets/images/no-image.png"/>
                    </span>
                    <span class="topbar-item-name profile-name" *ngIf="userSettings.username">{{userSettings.username}}</span>
                </a>
                <ul class="fadeInDown">
                    <li role="menuitem">
                        <a [routerLink]="'profile'">
                            <i class="material-icons">account_circle</i>
                            <span>Profile</span>
                        </a>
                    </li>
                    <!-- <li role="menuitem">
                        <a href="#">
                            <i class="material-icons">verified_user</i>
                            <span>Privacy</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="material-icons">settings_application</i>
                            <span>Settings</span>
                        </a>
                    </li> -->
                    <li role="menuitem" (click)="logout($event)">
                        <a href="#">
                            <i class="material-icons">exit_to_app</i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- <li #settings [ngClass]="{'active-topmenuitem':app.activeTopbarItem === settings}" (click)="app.onTopbarRootItemClick($event, settings)">
                <a href="#">
                    <i class="topbar-icon material-icons">settings</i>
                    <span class="topbar-item-name">Settings</span>
                </a>
                <ul class="fadeInDown">
                    <li role="menuitem">
                        <a href="#">
                            <i class="material-icons">palette</i>
                            <span>My Shared Information</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="material-icons">star</i>
                            <span>My Doctors</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="material-icons">lock</i>
                            <span>Appointments</span>
                        </a>
                    </li>
                </ul>
            </li> -->
            <li #notifications [ngClass]="{'active-topmenuitem':app.activeTopbarItem === notifications}" (click)="app.onTopbarRootItemClick($event, notifications)">
                <a href="#">
                    <i class="topbar-icon material-icons">notifications</i>
                    <span class="topbar-badge animated rubberBand">{{noti.length}}</span>
                    <span class="topbar-item-name">Notifications</span>
                </a>
                <ul class="fadeInDown">
                    <li role="menuitem" *ngFor="let item of noti">
                        <a [routerLink]="item.routerLink" (click)="delete(e, item)" style="position:relative" *ngIf="item.routerLink && item.routerLink !== ''">
                            <!-- <i class="material-icons"></i> -->
                            <span>{{item.name}}</span>
                            <span>{{item.description}}</span>
                            <span class="material-icons deleteIcon" (click)="delete(e, item)">delete</span>
                        </a>
                        <a href="#" *ngIf="!item.routerLink || item.routerLink === ''">
                            <!-- <i class="material-icons"></i> -->
                            <span>{{item.name}}</span>
                            <span>{{item.description}}</span>
                        </a>
                    </li>
                    <li role="menuitem" *ngIf="noti.length < 1">
                        <a href="">No items available</a>
                    </li>
                </ul>
            </li>
            <!-- <li class="search-item">
                <span class="md-inputfield">
                    <input type="text" pInputText />
                    <label>Search</label>
                    <i class="topbar-icon material-icons">search</i>
                </span>
            </li> -->
        </ul>
    </div>
</div>