<p-panel>
  <div class="align-center">
    <div class="ui-g">
      <div class="ui-g-12 ui-md-12">
        <img src="https://www.zapper.com/images/icon-download.png" />
      </div>
      <div class="ui-g-12 ui-md-12">
        <button pButton (click)="openZapper($event)" label="Download Zapper"></button>
      </div>
    </div>
  </div>
</p-panel>