<p-panel [header]="'Invoices'">
  <form [formGroup]="manageFormgroup">
    <div class="ui-fluid">
      <div class="ui-g form-group">
        <div class="ui-g-12 ui-md-12">
          <p-fileUpload #documents name="formData[]" (onBeforeSend)="onBeforeSend($event)" [url]="uploadUrl" (onClear)="onClear($event)" (onUpload)="onUpload($event)" (onSelect)="onSelect($event)" multiple="multiple" maxFileSize="10000000">
            <ng-template pTemplate="toolbar">
              <div>Upload {{uploadedInvoices.length}} Files</div>
            </ng-template>
            <ng-template pTemplate="content">
              <div *ngIf="uploadedInvoices.length">
                <div class="ui-fileupload-row" *ngFor="let file of uploadedInvoices">
                  <div>
                    <img *ngIf="file.objectURL" [src]="file.objectURL" width="50">
                  </div>
                  <div>{{file.name}}</div>
                  <div>{{file.size}} bytes</div>
                  <div>
                    <input required pInputText placeholder="Invoice Number" (input)="changeInvoiceNumber($event, file)" />
                    <p-dropdown [options]="patientData" (onChange)="setPerson($event, file)" [style]="{'width':'100%'}" placeholder="Select Patient"></p-dropdown>
                  </div>
                  <div>
                    <button icon="fa-close" pButton type="button" (click)="removeFile(file, documents)"></button>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template let-file pTemplate="file">
            </ng-template>
          </p-fileUpload>
          <div class="ui-md-1">
              <button pButton label="Back" (click)="goBack($event)"></button>
          </div>
        </div>
      </div>
    </div>
  </form>
</p-panel>