<p-panel [header]="'User Documents'">
  <button type="button" pButton label="Add Document" icon="fa-plus" (click)="NewFile($event)"></button>
  <p-dataTable [value]="data" dataKey="vin" [tableStyle]="{'table-layout':'auto'}">
    <p-column *ngFor="let i of cols" [field]="i.field" [header]="i.header"></p-column>
    <p-column>
      <ng-template let-file="rowData" let-i="rowIndex" pTemplate="body">
        <button type="button" pButton (click)="DownloadFile($event, file)" label="Download"></button>
        <button type="button" pButton (click)="DeleteFile($event, file)" label="Delete"></button>
      </ng-template>
    </p-column>
  </p-dataTable>
</p-panel>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>