<form [formGroup]="userform">
  <p-card [title]="'New Password'">
    <div class="ui-g form-group">
      <div class="ui-g-12 ui-md-4" *ngIf="!token || token === null || token === ''">
        <span class="md-inputfield">
          <input pInputText [required]="true" type="password" formControlName="oldPassword">
          <label>Old Password</label>
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['oldPassword'].valid&&userform.controls['oldPassword'].dirty">
            <i class="fa fa-close"></i>
            Old Password is required.
          </div>
        </span>
      </div>
      <div class="ui-g-12 ui-md-4">
        <span class="md-inputfield">
          <input pInputText [required]="true" type="password" formControlName="password">
          <label>Password</label>
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['password'].valid&&userform.controls['password'].dirty">
            <i class="fa fa-close"></i>
            <span *ngIf="userform.controls['password'].errors['required']">Password is required</span>
            <span *ngIf="userform.controls['password'].errors['minlength']">Must be longer than 8 characters and one alphabet character</span>
          </div>
        </span>
      </div>
      <div class="ui-g-12 ui-md-4">
        <span class="md-inputfield">
          <input pInputText [required]="true" type="password" formControlName="confirmPassword">
          <label>Confirm Password</label>
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['confirmPassword'].valid&&userform.controls['confirmPassword'].dirty">
            <i class="fa fa-close"></i>
            <span *ngIf="userform.controls['confirmPassword'].errors['required']">Password is required</span>
            <span *ngIf="userform.controls['confirmPassword'].errors['minlength']">Must be longer than 8 characters and one alphabet character</span>
            <span *ngIf="userform.controls['confirmPassword'].errors['matchPassword']">Password does not match</span>
          </div>
        </span>
      </div>
      <div class="ui-g-6">
        <button pButton [disabled]="userform.invalid" label="Submit" (click)="reset($event)"></button>
      </div>
      <div class="ui-g-6">
        <button pButton label="Cancel" (click)="cancel($event)"></button>
      </div>
    </div>
  </p-card>
</form>